@font-family: 'Spartan', sans-serif;

/* Grid-layout */
#grid-1{
	grid-area: grid_one
}
#grid-2{
	grid-area: grid_two
}
#grid-3{
	grid-area: grid_three
}



*{
	padding: 0px;
	margin: 0px;
}

body, html{
	height: 100%;
	width: 100%;
	background-color: #F5F5F5;
	margin: 0px;
}


/* MOBILE */
.gridlayout{
	display: grid;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	grid-gap: 0.1rem;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 0.5fr 1fr;
	grid-template-areas: 
		"grid_one"
		"grid_two"
		"grid_three";
}

h1{
	text-align: center;
	font-size: 6vw;
	margin: 0px;
	margin-bottom: 15px;
	position: relative;
	font-family: Spartan;
	color: #707070;
}

#grid-2{
	justify-content: center;
	align-items: center;
	height: 60%;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.box1, .box2, .box3{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #F5F5F5;
	padding: 10px;
	margin: 10px;
	font-family: Spartan;
	color: #707070;
	text-align: center;
	border-radius: 15px;
	box-shadow: 6px 6px 11px #dedede, -6px -6px 11px #ffffff
}

#hours, #minutes, #seconds{
	margin-top: 15px;
	margin-bottom: 0px;
}

p{
	font-size: 20px;
	color: #707070;
}

.box_date{
	position: relative;
}

#date{
	text-align: center;
	margin-top: 12px;
	font-family: Spartan;
	font-size: 16px;
	color: #707070;
}

/* Sun */
.animation{
	display: flex;
	justify-content: center;
	align-items: center;
}

.sun{
	margin-top: 50px;
	width: 90px;
	height: 90px;
	background-color: #F7DA1E;
	border-radius: 50%;
	box-shadow: 
		0 0 0 20px #F7DA1E70, 
		0 0 0 35px #F7DA1E50,
		0 0 0 50px #F7DA1E20;
	animation: sunshine 2000ms infinite linear forwards,
				sunshine_rays 2000ms infinite linear;
}

@keyframes sunshine {
	0%{
		box-shadow: none;
	}
}
@keyframes sunshine_rays {
	0%{
		box-shadow:
			0 0 0 0px #F7DA1E70,  
			0 0 0 20px #F7DA1E70, 
			0 0 0 35px #F7DA1E50,
			0 0 0 50px #F7DA1E20;
	}
}

/* Moon */
.moon{
	margin-top: 50px;
	width: 80px;
	height: 80px;
	background-color: #1F1F3E;
	border-radius: 50%;
	box-shadow: -30px 10px 10px 10px #FFFCEC;
	animation: moon 2500ms infinite linear forwards,
			moon_shine 2500ms infinite linear;
}
@keyframes moon {
	0%{
		box-shadow: none;
	}
}
@keyframes moon_shine {
	0%{
		box-shadow: -30px 10px 10px 10px #ffffff;
	}
}



/* TABLET */
@media only screen and (min-width: 600px){
	.gridlayout{
	display: grid;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	grid-gap: 0.1rem;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 0.5fr 1fr;
	grid-template-areas: 
		"grid_one"
		"grid_two"
		"grid_three";
	}

	h1{
		font-size: 5vw;
		margin-bottom: 20px;
	}

	.box1, .box2, .box3{
		width: 90px;
		height: 90px;
		margin: 15px;*/
	}

	#hours, #minutes, #seconds{
		margin-top: 30px;
		font-size: 35px;
	}

	.dots1, .dots2{
		font-size: 30px;
	}

	#date{
		font-size: 25px;
		margin-top: 15px;
	}

	/* Sun */
	.sun{
	width: 90px;
	height: 90px;
	margin-top: 60px;
	background-color: #F7DA1E;
	border-radius: 50%;
	box-shadow: 
		0 0 0 20px #F7DA1E70, 
		0 0 0 35px #F7DA1E50,
		0 0 0 50px #F7DA1E20;
	animation: sunshine 2000ms infinite linear forwards,
				sunshine_rays 2000ms infinite linear;
	}

	@keyframes sunshine {
		0%{
			box-shadow: none;
		}
	}
	@keyframes sunshine_rays {
		0%{
			box-shadow:
			0 0 0 0px #F7DA1E70,  
			0 0 0 20px #F7DA1E70, 
			0 0 0 35px #F7DA1E50,
			0 0 0 50px #F7DA1E20;
		}
	}

	/* Moon */
	.moon{
		margin-top: 60px;
		width: 80px;
		height: 80px;
		background-color: #1F1F3E;
		border-radius: 50%;
		box-shadow: -30px 10px 10px 10px #FFFCEC;
		animation: moon 2500ms infinite linear forwards,
				moon_shine 2500ms infinite linear;
	}
	@keyframes moon {
		0%{
			box-shadow: none;
		}
	}
	@keyframes moon_shine {
		0%{
			box-shadow: -30px 10px 10px 10px #ffffff;
		}
	}
}


/* LAPTOP */
@media only screen and (min-width: 1000px){
	.gridlayout{
	display: grid;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	grid-gap: 0.1rem;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 1fr 1fr;
	grid-template-areas: 
		"grid_one"
		"grid_two"
		"grid_three";
	}

	h1{
		font-size: 3vw;
		margin: 0px;
	}

	.box1, .box2, .box3{
		width: 90px;
		height: 90px;
		margin: 30px;
	}

	#hours, #minutes, #seconds{
		margin-top: 25px;
		font-size: 40px;
	}

	#date{
		font-size: 30px;
		margin: 0px;
	}

	/* Sun */
	.sun{
	width: 100px;
	height: 100px;
	margin-top: 70px;
	background-color: #F7DA1E;
	border-radius: 50%;
	box-shadow: 
		0 0 0 20px #F7DA1E70, 
		0 0 0 35px #F7DA1E50,
		0 0 0 50px #F7DA1E20;
	animation: sunshine 2000ms infinite linear forwards,
				sunshine_rays 2000ms infinite linear;
	}

	@keyframes sunshine {
		0%{
			box-shadow: none;
		}
	}
	@keyframes sunshine_rays {
		0%{
			box-shadow:
			0 0 0 0px #F7DA1E70,  
			0 0 0 20px #F7DA1E70, 
			0 0 0 35px #F7DA1E50,
			0 0 0 50px #F7DA1E20;
		}
	}

	/* Moon */
	.moon{
		margin-top: 60px;
		width: 100px;
		height: 100px;
		background-color: #1F1F3E;
		border-radius: 50%;
		box-shadow: -30px 10px 10px 10px #FFFCEC;
		animation: moon 2500ms infinite linear forwards,
				moon_shine 2500ms infinite linear;
	}
	@keyframes moon {
		0%{
			box-shadow: none;
		}
	}
	@keyframes moon_shine {
		0%{
			box-shadow: -30px 10px 10px 10px #ffffff;
		}
	}
}